/* General styling */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: roboto, sans-serif;
    color: #333333;
}

h1, h2 {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Header - Logo & Nav Bar */

header {
    background: url(../images/skyscrapers-night.jpg) no-repeat center center / cover;
    width: 100%;
    height: 750px;
    position: relative;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 25px;
    color: #eeeeee;
}

#menu {
    float: right;
}

#menu li {
    float: left;
    margin-right: 25px;
    list-style-type: none;
}

#logo, #menu {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: #eeeeee;
    font-size: 120%;
    letter-spacing: 3px;
    font-weight: 600;
}

#menu a:hover {
    border-bottom: 2px solid #eeeeee;
}

/* Header - Cover Text */

#cover-text {
    max-width: 300px;
    color: #eeeeee;
    position: absolute;
    top: 60%;
    left: 20%;
    background-color: rgba(180, 180, 180, 0.3);
    padding: 20px 0 20px 15px;
}

#cover-text h2 {
    font-size: 200%;
    line-height: 40px;
}

#cover-text a {
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    color: #eeeeee;
    border: 2px solid #eeeeee;
    padding: 7px 12px;
    border-radius: 8px;
    font-size: 120%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}

#cover-text a:hover {
    background-color: #eeeeee;
    color: #333333;
}

/* About Section */

#about {
    text-align: center;
    max-width: 70%;
    margin: auto;
}

#about h2 {
    margin: 50px 0 25px;
}

hr {
    border-top: 1px solid #333333;
}

#about p {
    margin: 25px 0 25px;
    line-height: 25px;
}