/* General styling */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: roboto, sans-serif;
    color: #333333;
}

h1, h2 {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    color: #333333;
    letter-spacing: 3px;
}