/* General styling */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: roboto, sans-serif;
    color: #333333;
}

h1, h2 {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Header - Logo & Nav Bar */

header {
    background: url(../images/skyscrapers-night.jpg) no-repeat center center / cover;
    width: 100%;
    height: 750px;
    position: relative;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 25px;
    color: #eeeeee;
}

#menu {
    float: right;
}

#menu li {
    float: left;
    margin-right: 25px;
    list-style-type: none;
}

#logo, #menu {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: #eeeeee;
    font-size: 120%;
}

#menu a:hover {
    border-bottom: 2px solid #eeeeee;
}

/* Header - Cover Text */

#cover-text {
    width: 450px;
    text-align: center;
    color: #eeeeee;
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}