/* General styling */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: roboto, sans-serif;
    color: #333333;
}

h1, h2 {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Header - Logo & Nav Bar */

#home-header {
    /* Image source https://pixabay.com/photos/singapore-skyscrapers-city-1990959/  */
    background: url(../images/skyscrapers-night.jpg) no-repeat center center / cover;
    background-color: #010721;
    width: 100%;
    height: 750px;
    position: relative;
}

.logo {
    float: left;
    font-size: 250%;
    margin-left: 35px;
    color: #eeeeee;
}

.menu {
    float: right;
}

.menu li {
    float: left;
    margin-right: 35px;
    list-style-type: none;
}

.logo, .menu {
    line-height: 75px;
}

.menu a {
    text-decoration: none;
    color: #eeeeee;
    font-size: 120%;
    letter-spacing: 3px;
    font-weight: 600;
}

.menu a:hover {
    border-bottom: 2px solid #eeeeee;
}

/* Header - Cover Text */

#cover-text {
    max-width: 300px;
    color: #eeeeee;
    position: absolute;
    top: 60%;
    left: 20%;
    background-color: rgba(180, 180, 180, 0.3);
    padding: 20px 0 20px 15px;
}

#cover-text h2 {
    font-size: 200%;
    line-height: 40px;
}

#cover-text a {
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    color: #eeeeee;
    border: 2px solid #eeeeee;
    padding: 7px 12px;
    border-radius: 8px;
    font-size: 120%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    transition-duration: 0.3s;
}

#cover-text a:hover {
    background-color: #eeeeee;
    color: #333333;
}

/* About Section */

#about {
    text-align: center;
    max-width: 80%;
    margin: auto;
}

#about h2 {
    margin: 25px 0;
    line-height: 35px;
}

hr {
    border-top: 1px solid #333333;
}

#about p {
    margin: 25px 0 25px;
    line-height: 25px;
}

/* Why Join Section */

#why-join-background {
    background-color: #eeeeee;
    padding: 75px 0;
    margin-top: 75px;
}

#why-join {
    max-width: 900px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#left-why img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    box-shadow: 0px 5px 10px #333333;
}

#right-why {
    width: 50%;
    text-align: justify;
}

#right-why h3 {
    margin: 25px 0;
    letter-spacing: 2px;
    font-size: 150%;
}

#right-why p {
    margin: 25px 0 25px;
    line-height: 25px;
}

/* Footer Section */

footer {
    line-height: 100px;
}

footer p {
    font-size: 130%;
    float: left;
    margin-left: 35px;
}

#social-links {
    float: right;
}

#social-links li {
    float: left;
    margin-right: 35px;
    list-style-type: none;
    font-size: 180%;
}

#social-links i {
    color: #333333;
}

/* Events Page */
/* Header */

#events-logo, #events-menu a {
    color: #333333;
}

#events-menu a:hover {
    border-bottom: 2px solid #333333;
}

/* Events Section */

#events-section {
    clear: both;
    background-color: #eeeeee;
    padding: 35px 0;
}

#events-title {
    text-align: center;
}

#events-links {
    text-align: center;
    margin-top: 35px;
}

#events-links a {
    text-decoration: none;
    margin: 10px 20px;
    display: inline-block;
    color: #333333;
    border: 2px solid #333333;
    padding: 7px 12px;
    border-radius: 8px;
    font-size: 120%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    transition-duration: 0.3s;
    box-shadow: 0px 1px 3px #333333;
}

#events-links a:hover {
    background-color: #333333;
    color: #eeeeee;
}

#events-container > h3 {
    text-align: center;
    font-size: 150%;
    margin: 35px 0 15px;
}

.events-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.events-card {
    height: 450px;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 5px 10px #333333;
    text-align: center;
    line-height: 25px;
    margin: 15px;
}   

.events-card img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.events-card :is(h3, p) {
    margin: 0 10px 15px;
}

/* Contact Page */
/* Header */

#contact-header {
    background-color: black;
    height: 1000px;
}

#contact-logo, #contact-menu {
    position: absolute;
    top: 0;
}

#contact-menu {
    right: 0;
}

video {
    height: 1000px;
    width: 100%;
    object-fit: cover;
    opacity: .6;
}

/* Form Section */

#contact-title {
    text-align: center;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eeeeee;
}

#contact-title > h2 {
    font-size: 200%;
}

#contact-form {
    max-width: 400px;
    color: #eeeeee;
    position: absolute;
    top: 30%;
    left: 10%;
    background-color: rgba(180, 180, 180, 0.3);
    padding: 35px;
    margin-right: 10%;
}

#contact-form h3 {
    margin-bottom: 20px;
    font-size: 150%;
    letter-spacing: 3px;
    text-align: center;
}

.text-input {
    width: 100%;
    margin: 5px 0 20px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px #333333;
    background: transparent;
    border: 1px solid #eee;
    border-radius: 5px;
    color: #eee;
}

.text-input:focus {
    outline: none;
}

#attendance {
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    box-shadow: 0px 5px 10px #333333;
    background: transparent;
    border: 1px solid #eee;
    border-radius: 5px;
    color: #eee;
}

#attendance:focus {
    outline: none;
}

.submit {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 120%;
    color: #333333;
    transition-duration: 0.3s;
    box-shadow: 0px 5px 10px #333333;
    border-radius: 5px;
}

.submit:hover {
    background-color: #333333;
    color: #eeeeee;
}

/* Media Queries */

/* For media screens 1200px wide and down */

@media screen and (max-width:1200px) {

    #left-why {
        width: 300px;
        margin: auto;
    }

    #right-why {
        width: 300px;
        margin: auto;
    }
}